@tailwind base;
@tailwind components;
@tailwind utilities;

.ul-instructions li {
    list-style-type: disc; /* Set bullet points */
  }

  .ul-instructions > li > ul > li {
    list-style-type: none; /* Remove bullet points */
    padding-left: 0; /* Remove any default padding */
  }